@tailwind base;
@tailwind components;
@tailwind utilities;

/* contactcard spotlight hover */
.cardEffect::before {
  background-image: radial-gradient(circle at var(--mouse-x, 0) var(--mouse-y, 0), rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0) 8%);
  background-size: calc(100% + 100px);
}

body::after {
  background-image: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
  position: fixed;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(100%);
  top: 0px;
  opacity: 0.1;
  transform: translateZ(0px);
}

body::before {
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  content: "";
  height: 100dvh;
  width: 102dvw;
  background-image: linear-gradient(currentcolor 1px, transparent 1px), linear-gradient(to right, currentcolor 1px, transparent 1px);
  background-size: 94px 90px;
  color: rgba(113, 113, 113, 0.07);
  position: fixed;
  z-index: -1;
  background-color: transparent;
  transition: all 0.5s linear 0s;
}